.technology {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.technology_circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.technology_icon {
  color: #737373;
}

.technology_label {
  white-space: nowrap;
}
