.card {
  margin-top: 2.5vh;
  padding: 3rem 5rem;
  font-family: sans-serif;
  background: #e9ecef;
  cursor: pointer;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
}

.expand {
  width: 30rem;
}
