.header-container {
  position: relative;
  background-color: #121417;
  min-height: 100vh;
  // min-width: 100vw;
  // max-height: 100vh;
}

.general {
  font-family: "League Spartan", sans-serif;
  position: absolute;
  top: 50%;
  transform: translate(15%, -50%);
}

.name {
  color: white;
  font-size: 4rem;
  font-size: 4vw;
  letter-spacing: 3px;
}

.slogan {
  color: #239ccd;
  font-style: italic;
  font-size: 2.5rem;
  font-size: 2vw;
  letter-spacing: 2px;
}

.header-content {
  list-style: none;
  position: absolute;
  top: 47.5%;
  right: 2.5%;
  transform: translate(0, -47.5%);
}

#header-contact-btn,
#footer-contact-btn {
  border: none;
  background-color: #121417;
  z-index: 0.1;
  cursor: pointer;
}

.header-link {
  color: #6c757d;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
  font-size: 2rem;
  position: relative;
  top: 2rem;
}

.header-icon {
  transition: opacity 0.75s, transform 0.5s;
}

.header-description {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 1.25rem;
  transition: color 1s ease, opacity 0.75s, visibility 0.35s, transform 0.5s;
}

.header-link:hover .header-icon {
  opacity: 0.25;
  transform: translate(0, -0.25rem);
}

.header-link:hover .header-description {
  color: #239ccd;
  transform: translate(0, -1rem);
  visibility: visible;
  opacity: 1;
}

#header-github-icon {
  margin-top: 1rem;
}

#header-linkedin-description {
  left: -1.75rem;
}

#header-github-description {
  left: -1rem;
}

@media all and (max-width: 320px) {
  .arrow-projects {
    position: absolute;
    top: 92vh;
    left: 50vw;
  }
}

@media only screen and (max-width: 900px) {
  .header-container {
    min-height: 100vh;
    width: 100%;
  }
}
