@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

body {
  display: block;
  margin: 0;
}

.flex-container,
html,
body {
  height: 100%;
  padding: 0;
}

html {
  position: relative;
}

/* flex containers */

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.header-container {
  background-color: #121417;
  min-height: 100vh;
}

.about-container {
  padding: 80px 0;
  background-color: #6c757d;
  min-height: 100vh;
}

.projects-container {
  padding: 80px 0;
  background-color: white;
  min-height: 90vh;
}

.footer-container {
  background-color: #121417;
  white-space: nowrap;
  display: inline-block;
  min-height: 300px;
}

/* header.js */

.name {
  color: white;
  font-family: "League Spartan", sans-serif;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-top: 25rem;
  margin-left: 6rem;
}

.slogan {
  color: white;
  font-family: "League Spartan", sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-left: 6rem;
}

.header-content {
  display: inline-block;
  list-style: none;
  position: absolute;
  top: 32rem;
  right: 2.5rem;
}

#header-contact-btn {
  border: none;
  background-color: #121417;
}

.headerlink {
  color: #6c757d;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
  font-size: 2rem;
  position: relative;
  top: 2rem;
}

.header-icon {
  transition: opacity 0.75s, transform 0.5s;
}

.header-description {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 1.25rem;
  transition: opacity 0.75s, visibility 0.35s, transform 0.5s;
}

.headerlink:hover .header-icon {
  opacity: 0;
  transform: translate(0, -0.25rem);
}

.headerlink:hover .header-description {
  transform: translate(0, -1rem);
  visibility: visible;
  opacity: 1;
}

#head-gh {
  margin-top: 1rem;
}

#header-linkedin {
  left: -1.75rem;
}

#header-github {
  left: -1rem;
}

/* popup.js */

.popup-container {
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;
  width: 90vw;
  height: 90vh;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

/* navbar.js */

.navbar {
  white-space: nowrap;
  display: inline-block;
  margin: 0 auto;
  margin-left: 5rem;
}

.home {
  color: white;
  text-decoration: none;
  font-family: "Permanent Marker", cursive;
  font-size: 5rem;
  display: inline-block;
  float: "left";
  padding: 10px 0;
  transition: opacity 0.75s, transform 0.5s ease-in-out;
}

.nav-content {
  display: inline-block;
  position: absolute;
  top: 3.25rem;
  right: 5rem;
}

.navlink {
  color: #6c757d;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
  margin-left: 4.5rem;
  font-size: 2rem;
  position: relative;
}

.navlink #nav-about {
  left: -0.9rem;
}

.navlink #nav-contact {
  left: -0.75rem;
}

.navlink #nav-projects {
  left: -1.3rem;
}

.navlink #nav-darkmode {
  left: -0.35rem;
}

.nav-icon {
  transition: opacity 0.75s, transform 0.5s;
}

.nav-description {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 1.25rem;
  transition: opacity 0.75s, visibility 0.35s, transform 0.5s;
}

.navlink:hover .nav-icon {
  opacity: 0.35;
  transform: translate(0, -0.25rem);
}

.navlink:hover .nav-description {
  transform: translate(0, 1rem);
  visibility: visible;
  opacity: 1;
}

.home:hover,
.footer-home:hover {
  opacity: 0.5;
  transform: skew(5deg, 5deg);
}

/* about.js */

.about-heading,
.about-description {
  text-align: center;
}

.about-heading {
  font-family: "League Spartan", sans-serif;
  color: #dee2e6;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.about-description {
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #bf0603;
}

/* projects.js */

.projects-heading,
.projects-description {
  text-align: center;
}

.projects-heading {
  font-family: "League Spartan", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.projects-description {
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #8e9aaf;
}

/* footer.js */

.footer-home {
  color: white;
  text-decoration: none;
  font-family: "Permanent Marker", cursive;
  font-size: 5rem;
  transition: opacity 0.75s, transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  position: relative;
  top: 3rem;
}

.social-content {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
}

.socialLink {
  color: #6c757d;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
  font-size: 2rem;
  position: relative;
  top: 4rem;
}

.social-icon {
  transition: opacity 0.75s, transform 0.5s;
}

.social-description {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 1.25rem;
  transition: opacity 0.75s, visibility 0.35s, transform 0.5s;
}

.socialLink:hover .social-icon {
  opacity: 0;
  transform: translate(0, -0.25rem);
}

.socialLink:hover .social-description {
  transform: translate(0, -1rem);
  visibility: visible;
  opacity: 1;
}

#github {
  margin-left: 3.5rem;
}

#social-linkedin {
  left: -1.75rem;
}

#social-github {
  left: 2.4rem;
}

#footer-contact {
  margin-left: 3.5rem;
}

#social-contact {
  left: 2.25rem;
}
